* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

}
body {
    background-color: lightblue;
}
header > h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.row {
    width: 680px;
    margin: auto;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
.item {
    height: 200px;
    width: 150px;
    float: left;
    margin: 10px;
    background-image: url(img/pattern.png);
    background-size: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
.item:hover .content{
    visibility: visible;
}
.content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    visibility: hidden;
}
#visibile {
    visibility: visible;
}
.content > img {
    width: 100%;
    padding-top: 10px;
}
.content > h2 {
    text-align: center;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.purple {
    color: purple;
}
.yellow {
    color: yellow;
}
.orange {
    color: orangered;
}
footer {
    margin: 20px 0 40px 0;
}
footer > h4 {
    text-align: center;
}